body {
  margin: 0px;
  background-color: rgb(41, 77, 83);
  font-family: sans-serif;
}

header {
  background-image: url(resources/images/headerBackground.jpg);
  color: rgb(177, 233, 247);
  font-size: xx-large;
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  margin: 0px;
  padding: 2%;
}

h5 {
  margin: 0px;
  padding: 2%;
}

main {
  color: white;
}

p {
  margin: 2%;
  text-align: center;
  font-size: 20px;
}